/*************************Tag Selector*****************************/
body {
    margin:0;
    text-align: center;
    /*text-align property must be set inside the parent element*/
    /*text-align can center all elements that don't have their width specified*/
    /*To center elements with specific width, use margin property*/
    font-family: 'Merriweather', serif;
    color:#40514E;
}
h1 {
    margin:50px auto 0px;
    /* 4 types of margin short-hands:
    margin: all-margin;
    margin: top&bottom left&right;
    margin: top right&left bottom;
    margin: top right bottom left;
    */
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color:#66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
/***************************Class Selector************************/
.topContainer {
    background-color: #e4f9f5;
    position:relative;
    padding-top: 100px;
}
.software {
    text-decoration: underline;
}
.topCloud{
    position:absolute;
    right: 300px;
    top: 50px;
}
.botCloud{
    position:absolute;
    left: 300px;
    bottom: 300px;
}
.myself {
    height: 200px;
    border-radius: 20%;
}
.skill-row {
    width:50%;
    margin:100px auto;
    text-align: left;
    line-height: 2;
}
.software-img{
    width:25%;
    float: left;
    margin-right: 30px;
}
.cat-gif{
    width:25%;
    float:right;
    margin-left:30px;
}
.practice {
    clear: left;
}
.naughty {
    clear: right;
}
.bottom-container {
    background-color: #66BFBF;
    padding-bottom: 30px;
}
.name {
    color:#EAF6F6;
    margin-bottom: 0px;
}
