/*************************Tag Selector*****************************/
body {
    margin:0;
    text-align: center;
    /*text-align property must be set inside the parent element*/
    /*text-align can center all elements that don't have their width specified*/
    /*To center elements with specific width, use margin property*/
    font-family: 'Merriweather', serif;


}
h1 {
    margin-top:0;
    /* 4 types of margin short-hands:
    margin: all-margin;
    margin: top&bottom left&right;
    margin: top right&left bottom;
    margin: top right bottom left;
    */
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

/***************************Class Selector************************/
.topContainer {
    background-color: #e4f9f5;
    position:relative;
    padding-top: 100px;
}
.software {
    text-decoration: underline;
}
.topCloud{
    position:absolute;
    right: 300px;
    top: 50px;
}
.botCloud{
    position:absolute;
    left: 300px;
    bottom: 300px;
}